/* COMMON RULES */
/* COMMON RULES */
/* COMMON RULES */

body {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
/* HEADER */
/* HEADER */

header p {
  background-color: #333333;
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  padding: 25px;
}

/* MAIN */
/* MAIN */
/* MAIN */

/* JOBS */

.jobs {
  width: 1020px;
  height: 1020px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

/* JOB */

.job {
  width: 300px;
  height: 300px;
  border: 10px solid;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.job p:first-child {
  font-size: 30px;
  line-height: 35px;
}
.job p:nth-child(2) {
  font-size: 18px;
  line-height: 21px;
}

/* JOB: BORDER-COLOR */

.color-E30413 {
  border-color: #e30413;
}
.color-3EA535 {
  border-color: #3ea535;
}
.color-FFEE00 {
  border-color: #ffee00;
}
.color-039FE3 {
  border-color: #039fe3;
}
.color-F8C5AF {
  border-color: #f8c5af;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

footer {
  padding: 25px;
  background-color: #dddddd;
}
footer p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

footer a {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
